{% extends "application.html" %}
{% block content %}
<header>
    <h2>geektwitter</h2>
</header>
    <div class="container">
        <div class="row">
            <div class="col">
            
            </div>
            <div class="col">
                <form>
                    <input type="text" name="search">
                    <button type="submit">検索</button>
                </form>
            </div>
            <div class="col">
            
            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <div class="tag">
        <a href="/new">ツイートする</a>
        <a href="/logout">  ログアウト</a>  
    </div>
        <h1>投稿一覧</h1>
  
        <div class="container">
            <div class="row">
                {% for tweet in tweets %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ tweet.title }}</h5>
                            <p class="card-text">{{ tweet.body }}</p>
                            <a href="{{ tweet.id }}/edit" class="btn btn-primary">編集</a>
                            <a href="{{ tweet.id }}/delete" class="btn btn-danger">削除</a>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <div class="tag">
        <a href="/login">ログイン</a>
        <a href="/new">ツイートする</a>
        <a href="/logout">  ログアウト</a>
    </div>
        <h1>投稿一覧</h1>

        <div class="container">
            <div class="row">
                {% for tweet in tweets %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ tweet.title }}</h5>
                            <p class="card-text">{{ tweet.body }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}