{% extends 'application.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
        
        </div>
        <div class="col">
            <h1>ユーザ登録</h1>
            <form method="POST">
                <label for="">ユーザ名</label>
                <input type="text" name="username">
                <label for="">パスワード</label>
                <input type="password" name="password">
                <button type="submit">登録</button>
            </form>
            <div class="action">
            <a href="/login">戻る</a>
            </div>
        </div>
        <div class="col">
        
        </div>
    </div>
</div>

{% endblock %}